<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script>
            var dojoConfig = {
                async: true,
                packages: [{ 
                    name: 'app', 
                    location: '/app'
                }],
                deps: ['app/main']
            };
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojo/dojo.js"></script>
    </head>
    <body>
        <h1>Welcome to Lima</h1>
    </body>
</html>
